$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "reset.scss";
@import "variable.scss";

html,
body {
	height: 100%;
}

a {
	color: #3B94D9;
}

.menu-btn {
	cursor: pointer;
	transition-duration: .5s;
	color: #777 !important;
	background-color: inherit !important;
	border: solid 1px $light-gray !important;
	font-weight: normal !important;

	&:focus {
		background-color: inherit;
	}
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

// modal close btn
body > div > div > div.fade.in.modal > div > div > div.modal-header > button > span {
	display: block;
	font-size: 30px;
}

// tablet & smart phone
@media (max-width: 47.9em) {
	.pc-only {
		display: none;
	}
}

// tablet
@media (min-width: 34em) and (max-width: 47.9em) {
}

// smart phone
@media (max-width: 34em) {
}

