$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "reset.scss";

html,
body {
	height: 100%;
}

a {
	color: #3B94D9;
}

.menu-btn {
	cursor: pointer;
	transition-duration: .5s;
	color: inherit;
	background-color: inherit;
	border: solid 1px #ABA3B8;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

// tablet & smart phone
@media (max-width: 47.9em) {
	.pc-only {
		display: none;
	}
}

// tablet
@media (min-width: 34em) and (max-width: 47.9em) {
}

// smart phone
@media (max-width: 34em) {
}

