$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "reset-bootstrap.scss";

html,
body {
	height: 100%;
}

a {
	color: #3B94D9;
}

.pc-only {
	display: none;
}

.menu-btn {
	//background-color: rgba(255, 255, 255, .3);
	//color: rgb(194, 255, 255);
	cursor: pointer;
	transition-duration: .5s;
	color: inherit;
	background-color: inherit;
	border: solid 1px #ABA3B8;

	&:hover {
		background-color: rgba(255, 255, 255, .8);
		color: rgba(57, 69, 228, .97);
	}
}

.navbar-brand {
	font-family: Shadows Into Light Two;
	text-wrap: none;
	font-size: 35px;
}
