// bootstrap
*:focus, *:active:focus {
	outline: 0 !important;
}

.list-group-item:focus {
	outline: 0;
}

.navbar-default {
	border: 0;
}

.btn-default {
	border: 0;
}

// browser
ol, ul {
	list-style: none;
	list-style-type: none;
}
