<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Daily Tweet{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('/css/main.css') }}">
        {% block stylesheet %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascript %}{% endblock %}
    </body>
</html>
