<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <title>{% block title %}Daily Tweet{% endblock %}</title>
        {% block stylesheet %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{{ app.request.get('_route') }}">
        {% block body %}{% endblock %}
        {% block javascript %}
            {% if app.environment == "dev" %}
            <script src="{{ asset('webpack-dev-server.js', 'webpack') }}"></script>
            {% endif %}
        {% endblock %}
    </body>
</html>
