{% extends 'base.html.twig' %}
{% block stylesheet %}
  <link rel="stylesheet" href="{{ asset('assets/build/stylesheets/login.css', 'webpack') }}">
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
{% endblock %}
{% block body %}
<nav class="navbar login-header">
  <ul class="nav">
    <li class="nav-item pull-left">
      <div>Daily Tweet</div>
    </li>
    <li class="nav-item pull-right">
      <a href="{{ path('hwi_oauth_service_redirect', { 'service' : 'twitter' }) }}" class="btn menu-btn">Login with Twitter</a>
    </li>
  </ul>
</nav>
<main class="container">
  <section class="row">
    <div class="service-infomation col-md-12">
      <p style="margin-bottom: 20px">Daily Tweetはtwitter上の自分のつぶやきを日別にまとめるサービスです。</p>
      <p>
        <img src="{{ asset('assets/build/img/landing-image.png') }}" >
      </p>
    </div>
  </section>
</main>
<footer>

</footer>
{% endblock %}

{% block javascript %}
<script src="{{ asset('/assets/build/js/login.js', 'webpack') }}"></script>
{% endblock %}
