@import "mixin.scss";

.navbar {
  left: 0;
  position: fixed;
  width: 100%;
}

main {
  .root-header > .container {
    max-width: 100%;
  }

  #timeline {
    padding-top: 90px;

    section:first-child {
      border-radius: 5px 5px 0 0;
    }

    section:last-child {
      border-radius: 0 0 5px 5px;
    }

    .error-msg {
      border-radius: 5px;
      font-size: 24px;
      font-weight: bold;
      margin-top: 40px;
      padding: 30px;
    }
  }

  .timeline-item {
    background-color: rgba(255, 255, 255, .8);
    border-bottom: 1px solid rgba(100, 100, 100, .6);
    border-left: 1px solid rgba(100, 100, 100, .6);
    border-right: 1px solid rgba(100, 100, 100, .6);
    color: rgba(0, 0, 0, .76);
    padding: 9px 12px;

    p {
      margin-bottom: 0;
    }

    .profile-image {
      border-radius: 5px;
      padding-top: 3px;
    }

    .pull-right {
      width: 90%;
    }

    .user-name {
      font-size: 15px;
    }

    .screen-name {
      color: rgba(30, 30, 30, .5);
      font-size: 13px;
    }

    .text {
      font-weight: bold;
      padding: 5px 0;
    }

    .create-at {
      color: rgba(30, 30, 30, .5);
      font-size: 13px;
    }
  }

}

// tablet
@media (min-width: 34em) and (max-width: 47.9em) {
  main {
    @include fix_header_layout();
    z-index: auto;
  }
}

// smart phone
@media (max-width: 34em) {
  main {
    @include fix_header_layout();
    height: 70%;

    section {
      height: 100%;
    }
  }
}
