main {
  color: rgba(255, 255, 255, .88);

  .service-infomation {
    background-color: rgba(255, 255, 255, .2);
    border-radius: 4px;
    font-size: 24px;
    margin-top: 140px;
    padding: 20px 20px 30px;
  }
}

// tablet
@media (min-width: 34em) and (max-width: 47.9em) {
  main {
    .service-infomation {
      height: 240px;
      padding: 30px;
    }
  }

}

// smart phone
@media (max-width: 34em) {
  main {
    height: 70%;

    section {
      height: 100%;

      .service-infomation {
        height: 100%;
        margin-top: auto;
        padding: 20px 10px 0;
      }
    }
  }

  .header-title,
  .header-button {
    float: none !important;
    margin-bottom: 10px;
    text-align: center;
  }

  .header-button {
    padding-top: 30px;
  }
}
