html,
body {
  background-image: url('../img/background.jpg');
  height: 100%;
}

.navbar {
  background-color: rgba(255, 255, 255, .2);
  padding-top: 20px;

  .header-title {
    font-family: Shadows Into Light Two;
    color: rgba(255, 255, 255, .7);
  }
 }
