html,
body {
  background-image: url("../img/background.jpg");
  height: 100%;
}

.btn-header-right {
  background-color: rgba(255, 255, 255, 0.3);
  color: #c2ffff;
  cursor: pointer;
  transition-duration: .5s;
}
.btn-header-right:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(57, 69, 228, 0.97);
}

.navbar {
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: 20px;
}
.navbar .nav {
  margin: 0 auto;
  width: 80%;
}
.navbar .header-title {
  color: rgba(255, 255, 255, 0.7);
  font-family: Shadows Into Light Two;
}
