@import "../common/variable.scss";
@import "../component/footer.scss";

body {
	background: #ffffff;
}

img {
	max-width: 100%;
	height: auto;
}

.login-header { // TODO: dup01
	left: 0;
	position: fixed;
	background-color: $background-color;
	height: 75px;
	width: 100%;
	z-index: 1;
	.container {
		max-width: 100%;
	}
	.navbar-brand {
		font-family: Shadows Into Light Two;
		text-wrap: none;
		font-size: 35px;
		line-height: unset;
	}
	.navbar-header{
		width: 100%;
	}
	.nav.navbar-nav {
		margin-top: 11.5px;
		float: right;
	}
}

main {
	color: #3C4C52;
	.service-infomation {
		border-radius: 4px;
		font-size: 18px;
		padding: 20px 20px 30px;
		text-align: center;
	}
}

// tablet
@media (min-width: 34em) and (max-width: 47.9em) {
	main {
		.service-infomation {
			height: 240px;
			padding: 30px;
		}
	}
}

// smart phone
@media (max-width: 34em) {
	.login-header {
		.navbar-brand {
			font-size: 30px;
		}
		li.nav-item.pull-right {
			padding-top: 30px;
			padding-bottom: 0;
			float: none !important;
			margin-bottom: 10px;
			text-align: center;
		}
	}
	main {
		section {
			height: 100%;

			.service-infomation {
				height: 100%;
				margin-top: auto;
			}
		}
	}
}
