@import "../common/variable.scss";

body {
	background: #ffffff;
}

img {
	max-width: 100%;
	height: auto;
}

.login-header {
	left: 0;
	position: fixed;
	background-color: $background-color;
	width: 100%;
	z-index: 1;
}

main {
	color: #3C4C52;

	.service-infomation {
		border-radius: 4px;
		font-size: 18px;
		padding: 20px 20px 30px;
		text-align: center;
	}
}

// tablet
@media (min-width: 34em) and (max-width: 47.9em) {
	main {
		.service-infomation {
			height: 240px;
			padding: 30px;
		}
	}
}

// smart phone
@media (max-width: 34em) {
	.login-header {
		li.nav-item.pull-right {
			padding-top: 30px;
			padding-bottom: 0;
			float: none !important;
			margin-bottom: 10px;
			text-align: center;
		}
	}
	main {
		height: 70%;

		section {
			height: 100%;

			.service-infomation {
				height: 100%;
				margin-top: auto;
			}
		}
	}
}
