{% extends 'base.html.twig' %}
{% block stylesheet %}
  <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
{% endblock %}
{% block body %}
<main id="container" class="container">
  <!-- React <TimelineComponent /> render position -->
  {{ redux_store('homeStore', props) }}
  {{ react_component('App') }}
</main>
{% endblock %}
{% block javascript %}
<script src="{{ asset('/assets/build/home.js', 'webpack') }}"></script>
{% endblock %}
