$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

html,
body {
	height: 100%;
}
a {
	color: #3B94D9;
}

// bootstrapのデフォルトスタイル打ち消し
*:focus, *:active:focus {
	outline: 0 !important;
}
.list-group-item:focus {
	outline: 0;
}
.navbar-default {
	border: 0;
}
.btn-default {
	border: 0;
}

.btn-header-right {
	background-color: rgba(255, 255, 255, .3);
	color: rgb(194, 255, 255);
	cursor: pointer;
	transition-duration: .5s;

	&:hover {
		background-color: rgba(255, 255, 255, .8);
		color: rgba(57, 69, 228, .97);
	}
}

.navbar {
	padding-top: 20px;
	padding-bottom: 20px;

	.nav {
		margin: 0 auto;
		width: 80%;
	}

	.header-title {
		color: rgba(255, 255, 255, .7);
		font-family: Shadows Into Light Two;
		text-wrap: none;
		div {
			font-size: 35px;
		}
	}
}
