body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

@import "component/navbar";

main {
	color: #3C4C52;

	.service-infomation {
		border-radius: 4px;
		font-size: 24px;
		margin-top: 140px;
		padding: 20px 20px 30px;
		text-align: center;
	}
}

// tablet
@media (min-width: 34em) and (max-width: 47.9em) {
	main {
		.service-infomation {
			height: 240px;
			padding: 30px;
		}
	}

}

// smart phone
@media (max-width: 34em) {
	main {
		height: 70%;

		section {
			height: 100%;

			.service-infomation {
				height: 100%;
				margin-top: auto;
			}
		}
	}

	.navbar {
		padding-bottom: 0;
	}

	.header-title,
	.header-button {
		float: none !important;
		margin-bottom: 10px;
		text-align: center;
	}

	.header-button {
		padding-top: 30px;
	}
}
