body {
	background: #ffffff;
}

@import "component/navbar";

main {
	color: #3C4C52;

	.service-infomation {
		border-radius: 4px;
		font-size: 18px;
		padding: 20px 20px 30px;
		text-align: center;
	}
}

// tablet
@media (min-width: 34em) and (max-width: 47.9em) {
	main {
		.service-infomation {
			height: 240px;
			padding: 30px;
		}
	}

}

// smart phone
@media (max-width: 34em) {
	main {
		height: 70%;

		section {
			height: 100%;

			.service-infomation {
				height: 100%;
				margin-top: auto;
			}
		}
	}

	.navbar {
		padding-bottom: 0;
	}

	.header-title,
	.header-button {
		float: none !important;
		margin-bottom: 10px;
		text-align: center;
	}

	.header-button {
		padding-top: 30px;
	}
}
